src/controls/loc/lang.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:complexType name="item"> 
    <xs:attribute name="Text" type="xs:string" use="required"/> 
</xs:complexType>


<xs:element name="Right_Click_Menu">
    <xs:complexType>
        <xs:sequence>

            <xs:element name="Add" type="item"/>
            <xs:element name="Edit" type="item"/>
            <xs:element name="Move" type="item"/>
            <xs:element name="Delete" type="item"/>

            <xs:element name="Collapse_All" type="item"/>
            <xs:element name="Expand_All" type="item"/>

        </xs:sequence>
        <xs:attribute name="Id" type="xs:string"/>
        <xs:attribute name="Name" type="xs:string"/>
    </xs:complexType>
</xs:element>


</xs:schema>